html, body {
	width: 100%;
	margin: 0px;
	padding: 0px;
	font-family: Helvetica, Arial;
	font-size: 14px;
}
h1, h2 {
	margin: 0px 0px 25px 0px;
}
h3 {
	margin: 25px 0px 5px 0px;
}
h1 {
	font-size: 22px;
}
h2 {
	font-size: 18px;
}
p, .form-control {
	margin: 0px 0px 15px 0px;
}
.label-error {
	color: red;
}
.error {
	color: red;
}
.message {
	color: blue;
}
input[type="text"], select, textarea {
	width: 240px;
	margin: 3px 0px 3px 0px;
	padding: 5px;
}
input[type="submit"] {
	padding: 5px;
}
input[type="submit"]:hover {
	cursor: pointer;
}
.container {
	width: 980px;
	margin: 30px auto;
}
.leadfactor-banner {
	margin-bottom: 30px;
}
xmp {
	border: 1px solid #202020;
	padding: 0px 15px;
	color: #202020;
	font-style: italic;
	background-color: #f2f2f2;
	margin-bottom: 30px;
}